.card-container
{
    display: flex;
    justify-content: centre;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card
{
    width: 400px;
    margin: 10px;
    transition: transform 0.5s ease;
}

.card img
{
    margin-bottom: 10px;
}
.content
{
    color: white;
}

.card:hover
{
    transform: translateY(-15px);
}
*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}